*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
}

body{
    overflow-x: clip;
    height: auto;
    width: 100vw;


}
/* General usage*/

#indexbod{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#indexbod div{
    height: 100%;
    width: 220px;
    display: flex;
    flex-direction: column;


}
#indexbod div input{
    padding: 1vh;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#indexbod div select{
    padding: 1vh;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}





/*----------------------------------*/
/* Login site */
#switchpic{
    background-image: url("img/7814530.jpg");
    width: 120vh;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #DAD1FF;
    align-items: center;

}


#switchcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


}

#switchcontent h1{
font-size: 22pt;
    align-items: center;
}
#switchcontent p{
    font-size: 10pt;
    padding-top: 2vh;
    text-align: center;


}
#login{
    margin-top: 10%;
    height: 100%;
}

#switchcontent button{
    margin-top: 5vh;
    padding: 1vh 5vh;
    border-radius: 20px;
    border-style: none;
    background-color: #DAD1FF;

}
#switchcontent article{
    display: flex;
    flex-direction: row;
}


/* End Login site */


/* Sign Up site */
#switchcontentSU{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


}

#switchcontentSU h1{
    font-size: 22pt;
    align-items: center;
}
#switchcontentSU p{
    font-size: 10pt;
    padding-top: 2vh;
    text-align: center;


}
#login{
    margin-top: 10%;
    height: 100%;
}

#switchcontentSU button{
    margin-top: 5vh;
    padding: 1vh 5vh;
    border-radius: 20px;
    border-style: none;
    background-color: #DAD1FF;

}
